<launch>

<node pkg="single_ladar_and_camera_fusion" type="single_ladar_and_camera_fusion_node" name="single_ladar_and_camera_fusion_node" output="screen">
    <param name="freq" value="1.0"/>
</node>
<node pkg="tf" type="static_transform_publisher" name="base_foot_print_to_laser" args="0 0 0.215 0 0 0 base_link laser 100"/>
<node pkg="tf" type="static_transform_publisher" name="base_footprint_to_camera" args="0.08 0 0.04 1.57 3.14 1.57 base_link camera 100"/>

</launch>
